<div>
  <mat-toolbar color="primary">
    <span class="title">Aberdeen Traffic Collision Heatmap</span>
    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu x-position="before" #menu="matMenu">
    <button
      mat-menu-item
      *ngFor='let year of years_available'
      (click)='changeYear(year)'>
        Data for {{year}}
    </button>
    <button mat-menu-item (click)='aboutDialog()'>About</button>
  </mat-menu>

  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12">
    <agm-marker [latitude]="57.129685" [longitude]="-2.127406" [label]="test"></agm-marker>
    <agm-marker
      *ngFor="let location of data"
      [latitude]="location.Latitude"
      [longitude]="location.Longitude"
    ></agm-marker>
  </agm-map>

  <mat-card>
    <h3>Showing data for {{ incident_count }} incidents in {{year_selected}}.</h3>

    <ul class="incident_list">
      <li *ngFor="let item of data;">{{ item.Accident_Index }}</li>
    </ul>
  </mat-card>

</div>